<header id="header">
	{{#if @blog.logo}}
		<a class="image-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}} Logo" /></a>
	{{else}}
	    <a class="logo" href="/">
					{{@blog.description}}
					<span>blog by kiryl ply </span>
	    </a>
    {{/if}}
    {{^is 'home'}}
    	{{navigation}}
    {{/is}}
</header>
